* {
    padding: 0;
    margin: 0;;
}
 
button {
    border: none;
    background: transparent;
}
 
header {
    /*background-color: burlywood */
    min-height: calc(100vh - 32px);
}
 
nav {
    position: relative;
    display: block;
    background-color: #f1f1f1;
    padding: 32px;
}
 
.hidden {
    display: none;
}
 
ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
 
li {
    list-style: none;
}
 
.social-img {
    max-width: 32px;
}
 
a {
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}
 
.menu-btn {
    width: 32px;
    position: absolute;
    top: 16px;
    right: 16px;
}