* {
    padding: 0;
    margin: 0;;
}
 
button {
    border: none;
    background: transparent;
}
 
 
nav {
    position: relative;
    background-color: #f1f1f1;
    padding: 16px;
}
.nav-close {
    align-items: center;
    display: flex;

}

header nav a:first-child {
   position: relative;
   text-decoration: none;
   color: #116;
   font-weight: 600;
}
 
.hidden {
    display: none;
}
 .top-0 {
    top: 0;
 }
ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 32px;
}
 
li {
    list-style: none;
}
 
.social-img {
    max-width: 32px;
}
 
a {
   font-weight: 400;
}
 
.menu-btn {
    width: 32px;
    position: absolute;
    right: 0px;
}
.news-grid {
    padding: 16px;
    display:flex;
    flex-direction: column;
    gap: 16px;
}
.news-card {
border: 1px solid #323232;
padding: 8px;
border-radius: 12px;
}
.news-image {
    max-width: 100%;
}
.news-title {
    padding-top: 16px;
}