*{  
    padding: 0;
    margin: 0
 }
    .nav-header {
background-color: rgb(163, 255, 101);
padding: 16px; 
display: flex;
justify-content: center;
  } 

.nav-ul {
    list-style: none;
    display:flex;
    gap: 64px;
    justify-content: space-between;
        }
        a {
           transition: all 0.2s ease-in-out;
           text-decoration: none;
           color: #f7f7f7;
           font-family: arial, helvetica, sans-serif;
    }
   a:hover{
    transition: all 0.5s ease-in-out;
    color: #111111;
    text-decoration: underline;
    }
    main {
        background-color: rgb(191, 235, 120);
        display: flex;
        flex-direction: column;
        gap: 64px;
    }
    .about-me {
font-family: Arial, Helvetica, sans-serif;
display: flex;
flex-direction: column;
gap: 8px;
background-color:rgb(150, 223, 82);
padding: 4rem;
    }
    
    .education {
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    article {
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        gap: 8px;
        background-color:rgb(150, 223, 82);
        padding: 4rem;
    }
    .article-header {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background-color: rgb(102, 249, 83);
        font-family: Arial, Helvetica, sans-serif;
    }
   ol {
        list-style: none;
        line-height: 1.5rem;
    }
    
        .p-header {
display: flex; 
flex-direction: column
        }
 .work {
   font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        gap: 8px;
        background-color:rgb(150, 223, 82);
        padding: 4rem;
 }
 
    .tech-stack {
    font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        gap: 8px;
        background-color:rgb(150, 223, 82);
        padding: 4rem;
 }
 
    .tech-stack-ul {
        padding: 4px 14px;
        padding: 20px 16px 4px 24px; 
    }
    footer {
        background-color: rgb(163, 255, 101);
padding: 64px; 
display: flex;
flex-direction: column;
gap: 16px;
align-items: center;
    }
    